$xs: "max-width: 767px";
$iphone: "max-width: 320px";

body {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.5;
}

a {
	color: inherit;
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0 0 1rem;
}


/*=============================
=         Reviews Page        =
=============================*/

body#reviews {
	background: #f8f8f8;
	padding: 5rem 0;

	form {
		background: #fff;
		text-align: center;
		padding: 5rem;
		margin: 0 auto;
	    border: 1px solid #eee;
	}

	@media screen and ($xs) {
		padding: 4rem 0;

		form {
			padding: 2.25rem 1.75rem;
		}
	}
}

header {
	margin: 0 0 3rem;
}

main {
	@media screen and ($xs) {
		padding: 0 1.5rem;
	}
	@media screen and ($iphone) {
		padding: 0 1.25rem;
	}
}

#reviews h1 {
	margin: 0 1rem 1rem;

	@media screen and ($xs) {
		font-size: 1.75rem;
		margin: 0 0 1rem;
	}
}

.container, footer {
	max-width: 38.5rem;
	margin: 0 auto;
}

.field {
    margin-bottom: 1rem;
    text-align: left;

	@media screen and ($xs) {
		&:nth-of-type(1) {
			margin-top: 2rem;
		}
    }
}

label {
	display: block;
	font-size: .875rem;
    margin-bottom: .5rem;
}

input:not([type=checkbox]), textarea {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1rem;
	outline: none;
	display: block;
    width: 100%;
    border: 1px solid #ceced0;
    border-radius: 0;
    background: #fdfdfd;
    -webkit-transition: border-color .25s;
    transition: border-color .25s;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    box-sizing : border-box;
}

input:not([type=checkbox]) {
    height: 2.5rem;
    padding: 0 .875rem;
}

textarea {
	height: 7.8125rem;
	max-width: 100%;
    resize: none;
    padding: .875rem;
    margin-bottom: 3rem;
}

p {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 2rem;

		@media screen and ($xs) {
			margin-bottom: 1rem;
		}
	}
}

button, .button {
	color: #fff;
    text-transform: uppercase;
    text-decoration: none;
	font-weight: 700;
    border: 0;
    border-radius: 30px;
    font-size: .875rem;
    padding: 1rem 2rem;
    -webkit-transition: background .15s;
    transition: background .15s;
    cursor: pointer;
	background-color: #2ecc71;

    &:hover {
    	background-color: #27ae60;
    } 
}

.button {
	display: inline-block;
}

.logo {
	text-align: center;
	line-height: 0;
}

#selected-rating {
	margin-bottom: 1rem;
}

#star-ratings {
	margin-bottom: 1rem;
}

star {
	font-size: 2.8rem;
	color: #FEC434;
	padding: 0 .15rem;
	cursor: pointer;

	&:before {
		content: '\f006';
		font-family: 'FontAwesome';
	}
	&.hover {
		&:before {
			content: '\f005';
		}
	}
}

.fa-smile-o, .fa-frown-o, .fa-heart-o {
	font-size: 9rem;
	color: #FEC434;

	@media screen and ($xs) {
		font-size: 7.5rem;
	}
}

.uniform__potty {
	position: absolute !important;
	top: -9999px;
    left: -9999px;
}

footer {
	color: #999;
	text-align: center;
	margin-top: 5rem;
	padding-top: 2rem;
	border-top: 1px solid #eee;

	@media screen and ($xs) {
		margin-top: 3rem;
	}
}


/*=============================
=         Reviews List        =
=============================*/

body#reviews-list {
	max-width: 50rem;
	margin: 5rem auto;
}

#reviews-list {
	.details-container {
		position: relative;
	}

	form {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
	}

	button {
		background: none;
		padding: 0;
		color: #ceced0;
		font-size: 1.65rem;
		font-weight: 300;
		display: none;
		transition: 0.15s color;

		&:before {
			content: '\f196';
			font-family: 'FontAwesome';
			display: block;
		}
		&.added {
			font-size: 1.5rem;
			color: #2ecc71;

			&:before {
				content: '\f046';
			}
		}
		&:hover {
			color: #2ecc71;

			&.added {
				color: #ceced0;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		padding: 1rem 0;
		border-bottom: 1px solid black;

		&:hover {
			button {
				display: block;
			}
		}
	}

	blockquote {
		margin: 1rem 0 0;
	}

	star {
		font-size: 1.5rem;
		padding: 0 .1rem;
		color: #fec434;

		&:before {
			content: '\f006';
			font-family: 'FontAwesome';
		}
		&.active {
			&:before {
				content: '\f005';
			}
		}
	}

	.star-container, .date {
		display: inline-block;
		vertical-align: middle;
	}

	.date {
		color: gray;
	}

	.clicked span {
		font-weight: 600;
	}

	.abandon {
		font-style: italic;
		font-weight: 600;
	}

	.name, .email {
		display: inline-block;
	}

	.name {
		margin-right: .5rem;
	}

	.wrap {
		display: block;
		margin-top: .25rem;
	}
}